{
  "semi": false,
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "importOrder": [
    "^react-ace",
    "^ace-builds/src-noconflict/mode-javascript",
    "^(@clients).*",
    "^(@components).*",
    "^(@componentsUsingStore).*",
    "^(@store).*",
    "^(@common|@contexts|@hooks|@utils|@icons).*",
    "^.*/services/(.*)$",
    "^(..\\/|.\\/)[^@].*(?<!css)$",
    "^.*.(module).css$"
  ],
  "importOrderSeparation": true
}
