.cockpit {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 34px;

  height: 100vh;
  padding: 24px;

  background-color: #f5f5f5;
}

.content {
  display: grid;
  grid-template-areas:
    "tasks tasksDescription editor"
    "comments tasksDescription editor";
  grid-template-rows: 490fr 400fr;
  grid-template-columns: 333fr 451fr 568fr;
  gap: 20px;

  height: 100%;
  overflow: hidden;
}

.tasks {
  grid-area: tasks;
  overflow: hidden;
}

.comments {
  grid-area: comments;
  overflow: hidden;
}

.tasksDescription {
  grid-area: tasksDescription;
  overflow: hidden;
}

.editor {
  grid-area: editor;
  overflow: hidden;
}
