.button {
  padding: 6px 28px;

  color: #363645;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  border: none;
  border-radius: 10px;

  background-color: #ffe147;

  cursor: pointer;

  opacity: 1;

  transition: opacity linear 0.2s;
}

button:disabled:hover {
  cursor: default;

  opacity: 1;
}

.button:hover {
  opacity: 0.7;
}
