.blockWrapper {
  grid-area: problemsDescription;

  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;

  overflow: hidden;
}

.problemDescriptionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.tabulation {
  display: flex;
  gap: 17px;
  align-items: center;

  margin: 0;
  padding: 12px 0px 8px 0px;

  color: var(--color-grey-secondary);

  border-bottom: 1px solid var(--color-grey-secondary);
}
.problemDescriptionContent {
  overflow: scroll;
}
.problemSolutionVerdicts {
  margin-top: 24px;
}
.detailsArrow {
  transform: rotate(270deg);
}

.verdictStatus {
  color: var(--color-red-light);
}
.tab {
  cursor: pointer;
}
.tab:hover {
  color: var(--color-black-typo-primary);
}
.activeTab {
  position: relative;

  color: var(--color-black-typo-primary);
  font-weight: 500;
}
.activeTab::before {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -9px;
  right: 0;
  content: "";

  height: 1px;

  background-color: var(--color-black-typo-primary);
}
.problemStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  padding: 12px 26px 10px 26px;

  font-size: 12px;

  border-radius: 10px;

  background-color: var(--color-white-grey);
}
.problemTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;

  margin-top: 24px;
}
.problemTitleBlock h3 {
  color: var(--color-black-typo-primary);
  font-weight: 500;
  font-size: 20px;
}
.inputTextBlock span,
.outputTextBlock span,
.codeSampleBlock span,
.problemTitleBlock span,
.codeSampleBlockIde p {
  font-size: 14px;
  line-height: 24px;
}

.inputTextBlock,
.outputTextBlock,
.codeSampleBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  margin-top: 32px;
}
.inputTextBlock h3,
.outputTextBlock h3,
.codeSampleBlockIde h3 {
  font-weight: 500;
  font-size: 18px;
}
.codeSampleBlock h2 {
  font-weight: 500;
  font-size: 28px;
}
.codeSampleBlockIde {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  padding: 18px 16px 14px 16px;

  border-radius: 16px;

  background-color: var(--color-white-grey);
}
.codeSampleBlockIde p {
  font-weight: 400;
}
