.header {
  display: grid;
  grid-template-columns: 333fr 451fr 568fr;
  align-items: center;

  column-gap: 20px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  justify-content: start;
}

.tabItem {
  padding: 0 6px 8px;
  box-sizing: border-box;

  color: var(--color-grey-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;

  border-bottom: 1px solid var(--color-grey-secondary);
}

.tabItemSelected {
  color: var(--color-black-typo-primary);

  border-bottom: 1px solid var(--color-black-typo-primary);
}

.badgeDisconnected {
  background-color: var(--color-red-light);
}

.users {
  display: flex;

  column-gap: 14px;
}

.takeControlButtonContainer {
  margin: 0 0 0 22px;
}

.takeControlButtonContainer:disabled {
  background-color: var(--color-green-light);
}

.timer {
  padding: 0 30px 0 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.time {
  font-weight: 500;
}

.finishButton {
  background-color: var(--color-white);
}