.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 79px;
  padding: 0px 85.5px;

  border-bottom: 1px solid #dbdad8;
}

.logo {
  width: 150px;
  height: 38px;
  margin: 5px 0 7px 35px;

  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 150px 38px;
}

.options {
  width: 100%;

  line-height: 36px;

  border-bottom: 1px solid #dbdad8;
}

.optionsContainer {
  gap: 10px;

  width: 960px;
  margin: 0 auto;
}

.option {
  margin-right: 16px;
  padding: 0;

  color: #66707d;
  font-size: 15px;
  text-decoration: none;

  border: none;

  background-color: var(--color-white-grey);
}
.option:hover {
  color: red;

  cursor: pointer;
}
.active {
  position: relative;

  color: black;
  font-weight: 600;
}

.active::before {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -11px;
  right: 0;
  content: "";

  height: 3px;

  background-color: #ffcf06;
}

.contentContainer {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  margin-bottom: 20px;

  border: 1px solid #dbdad8;
  border-bottom: 1px solid #dbdad8;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.titleContainer {
  display: flex;

  height: 75px;
  padding: 10px 10px 0px 10px;

  border-bottom: 1px solid #dbdad8;
}

.infoContainer {
  padding: 40px 10px;
  padding-bottom: 40px;

  font-size: 35px;
  line-height: 150%;
  text-align: center;
}

.title {
  flex-grow: 1;

  color: #3d71bd;
  font-size: 35px;
  text-decoration: none;
}

.contentStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 260px;
  padding-left: 92px;

  font-size: 14px;
}

.firstLine {
  align-self: flex-end;

  margin-right: 20px;

  line-height: 24px;
}

.secondLine {
  align-self: flex-start;

  line-height: 24px;
}

.secondName {
  margin-right: 10px;

  color: #606060;
}

.contentButton {
  height: 28px;
  margin-left: 15px;
  padding: 0px 12px;

  color: #aaa;

  border: 0;
  border-radius: 4px;

  background: rgba(0, 0, 0, 0.08) !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 20px;

  border-top: 1px solid #dedddb;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

li {
  float: left;

  margin-right: 16px;
}

a {
  color: #8792a8;
  text-decoration: none;
}

a:hover {
  color: red;
}
.buttonActive {
  padding: 0px 13px;

  color: black;
  font-size: 15px;
  line-height: 31px;

  border: 1px solid rgba(191, 153, 0, 0.8);
  border-radius: 3px;

  background-color: #ffdb4d;
  background-clip: padding-box;
}
.buttonActive:hover {
  cursor: pointer;
}
