.problemSolutionVerdicts {
  margin-top: 24px;
}
.detailsArrow {
  cursor: pointer;

  transform: rotate(270deg);
}

.verdictStatus {
  color: var(--color-red-light);
}

.verdictStatusOk {
  color: var(--color-green-light)
}

.row {
  font-size: 14px;
}
