.container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}

.arrow {
  display: flex;
  justify-content: center;

  cursor: pointer;
}

.statusUserBlock {
  display: flex;
}

.statusDone {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 10px;

  color: var(--color-white-grey);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  text-align: center;

  border-radius: 24px;

  background: var(--color-green-light);
}
.statusPending {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 10px;

  color: var(--color-white-grey);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  text-align: center;

  border-radius: 24px;

  background: var(--color-yellow-primary);
}
.statusWrong {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 10px;

  color: var(--color-white-grey);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  text-align: center;

  border-radius: 24px;

  background: var(--color-red-light);
}

.statusDefault {
  display: none;
}

.titlePrimary {
  color: var(--color-black-typo-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; /* 150% */

  cursor: pointer;
}
.titleSecondary {
  color: var(--color-grey-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; /* 150% */

  cursor: pointer;
}

.lineDone {
  width: 2px;
  height: 24px;

  background: var(--color-green-light);
}
.linePending {
  width: 2px;
  height: 24px;

  background: var(--color-yellow-primary);
}
.lineWrong {
  width: 2px;
  height: 24px;

  background: var(--color-red-light);
}
.lineDefault {
  width: 2px;
  height: 24px;

  background: var(--color-grey-secondary);
}
.linePrimary {
  width: 2px;
  height: 24px;

  background: var(--color-black-typo-primary);
}

.lineTitleBlock {
  display: flex;
  gap: 8px;
}

.open {
  background: var(--color-white-grey);
}

.dropdown {
  display: flex;

  width: 100%;
  padding-top: 12px;
}

.dropdownContainer {
  position: relative;
}

.rotated {
  transform: rotate(180deg);
}
