.modal {
  background: white;
  border-bottom: 1px solid #dbdad8;
  height: 60%;
  padding: 24px;
  width: 50%;
}

.exit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 500;
  cursor: pointer;
}

.modalTitle {
  margin: 0;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}
.description {
  margin: 16px 0 24px;
}
.teams {
  height: 100%;
  margin: 5px 0px;
  font-size: 15px;
  overflow-y: scroll;
}

.team {
  margin-right: 15px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
