.problemSolutionVerdicts {
  margin-top: 24px;
}
.detailsArrow {
  cursor: pointer;

  transform: rotate(270deg);
}

.verdictStatus {
}

.errorStatus {
  color: var(--color-red-light);
}
