.problemSolutionDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailsHeader {
  display: flex;
  align-items: center;
}
.title {
  font-size: 20px;
}

.arrowBack {
  transform: rotate(90deg);
}
