.table {
  border-collapse: collapse;
  border: none;
}

.columnHeader {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-grey-secondary);
  text-align: left;

  padding-right: 24px;
}

.tableRow:hover {
  background-color: var(--color-white-grey);
}

.tableRowCell {
  padding: 4px 0px;
  font-size: 12px;
  color: var(--color-black-typo-primary);
}
