.table {
  border: none;
  border-collapse: collapse;
}

.columnHeader {
  padding-right: 24px;

  color: var(--color-grey-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.tableRow:hover {
  background-color: var(--color-white-grey);
}

.tableRowCell {
  padding: 4px 0px;

  color: var(--color-black-typo-primary);
  font-size: 12px;
}
